nvim/.config/nvim/autoload/plugged/*
nvim/.config/nvim/lua-language-server/*
zsh/.config/zsh/plugins/*
zsh/.config/zsh/.zcompdump
base-install/.config/zsh/plugins/*
base-install/.config/zsh/.zcompdump
base-install/.config/nvim/autoload/plugged/*
base-install/.config/leftwm/themes.toml
base-install/.config/leftwm/themes/*
laptop/.config/nvim/autoload/plugged/*
laptop/.config/zsh/plugins/*
laptop/.config/zsh/.zcompdump/
